<!DOCTYPE html>
<html>
	<head>
	    <title>Home Control Client</title>
	    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	    <meta name="title" content="Home Control Client" />
	    <meta content="pt" http-equiv="Content-Language" />
	    <meta content="0" http-equiv="Expires" />
	    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
	    <meta content="no-cache" http-equiv="Pragma" />
	    <meta name="revisit-after" content="3 days" />
	    <meta name="language" content="portuguese" />
	    <meta name="geo.country" content="Brasil" />
	    <meta name="dc.language" content="pt_BR" />
	    <meta name="author" content="Giulliano Morroni">

	    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
	    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1 style="text-align:right;">Home Control Client</h1>
				</div>
						
	  			<!-- CONFIGURACAO ATUAL -->
	  			<div class="col-md-10">
					<div class="panel panel-default">
						<div class="panel-heading"> <h3>Configuração Atual</h3> </div>
						<div class="panel-body">
							<div class="col-sm-10">
								<p>
									<h4>Wi-Fi: <strong>rede 1</strong> </h4> 
								</p>
								<p>
									<h4>Conta: <strong>carla@gmail.com</strong> </h4>   
								</p>
							</div>
						</div>
					</div>
	  			</div>
	  			<!-- FIM CONFIGURACAO ATUAL -->
	  			  			
	  			<!-- CONFIGURACAO WIFI -->
	  			<div class="col-md-10">
	  				<h3>Wi-Fi</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="rede" class="col-sm-2 control-label">Selecione sua Rede Wi-Fi</label>
							<div class="col-sm-10">
								<select class="form-control" id="rede" >
									<option value="rede 1">rede 1</option>
									<option value="rede 2">rede 2</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="senhawifi" class="col-sm-2 control-label">Senha do WiFi</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="senhawifi" placeholder="Insira a senha do wi-fi escolhido">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Salvar</button>
							</div>
						</div>
					</form>
	  			</div>
	  			<!-- FIM CONFIGURACAO WIFI -->
	
	  			<!-- CONFIGURACAO CONTA -->
	  			<div class="col-md-10">
	  				<h3>Minha Conta</h3>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="emailConta" class="col-sm-2 control-label">e-mail</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="emailConta" placeholder="Insira o e-mail da sua conta">
							</div>
						</div>
						<div class="form-group">
							<label for="senhaConta" class="col-sm-2 control-label">senha</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="senhaConta" placeholder="Insira a senha da sua conta">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Salvar</button>
							</div>
						</div>
					</form>
					<p>
						Para utilizar o home control é necessário abrir uma conta, acesse http://home-control.com 
						e registre-se, após o registro informe seus dados  para controlar seus dispositivos.
					</p> 
	  			</div>
	  			<!-- FIM CONFIGURACAO CONTA -->
			</div>
  			
		</div>
  
		<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/public/js/main.js"></script>
	</body>
</html>

